@model Athena.Models.Group_User

@{
    ViewData["Title"] = "Add User to Group";
}

<h2></h2>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="float-left">Add a user to a group</h2>
            <p class="text-right float-right">
            </p>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <div class="col-4 offset-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Group" class="control-label">Group</label>
                        <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add User" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </section>
</main>