@model Athena.Models.Template

@{ ViewData["Title"] = "Edit Template"; }
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="float-left">Edit Template </h2>
            <p class="text-right float-right">
            </p>
        </div>
    </section><!-- End Breadcrumbs -->


    <section class="inner-page">
        <div class="container">

            <div class="col-4 offset-2 float-left">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TemplateId" />
                    <div class="form-group">
                        <label asp-for="Path" class="control-label"></label>
                        <input asp-for="Path" class="form-control" />
                        <span asp-validation-for="Path" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TemplateName" class="control-label">Template Name</label>
                        <input asp-for="TemplateName" class="form-control" />
                        <span asp-validation-for="TemplateName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lab" class="control-label">Lab Label</label>
                        <input asp-for="Lab" class="form-control" />
                        <span asp-validation-for="Lab" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>

                </div>
            </div>

            <partial name="TemplateWarning" />
        </div>
    </section>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
