<div class="col-4 float-left">
    <div class="alert alert-warning" role="alert">
        Reminder:
        <br />
        1. The Path value is the relative path to the directory containing your Template files. <br />
        2. The Template root directory defined by the Path field should contain Deployment, Service, Ingress and NetworkPolicy directories.<br />
        3. The Lab value should be the same as the value used for the 'lab' label in the template YAML files. <br />
        4. All YAML files must contain the 'lab' label.
    </div>
</div>