
@{ ViewData["Title"] = "Error"; }
<main id="main">
    <section class="inner-page">
        <div class="container mt-5">

            <h3 class="alert alert-danger text-center">Access Denied</h3>

            <h4 class="text-center">You don't have permission to access this page</h4>

            <div class="text-center">
                <a href="~/">Goto Home</a>
            </div>
        </div>
    </section>
</main>