@model GroupSearch

@{ ViewData["Title"] = "Group Members"; }

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="float-left">Group Users</h2>
            <p class="text-right float-right">
                <a class="btn btn-warning" asp-area="" asp-controller="Group_User" asp-action="Create" asp-route-id="@Model.group.GroupId">
                    Add User
                </a>
            </p>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            User ID
                        </th>

                        <th>
                            Email
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.group_user)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>

            <td>
                <a class="btn btn-danger" asp-controller="Group_User" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>}
                </tbody>
            </table>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>