
@{
    ViewData["Title"] = "InvalidReservation";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <h2 class="float-left">Reservations </h2>
        
    </div>
</section><!-- End Breadcrumbs -->


<main id="main">
    <section class="inner-page">
        <div class="container">

            <h1>Invalid Reservation</h1>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>
</main>