@model IEnumerable<Athena.Models.Group_Template>

@{
    ViewData["Title"] = "Choose Template";
}

<h2>Choose a Lab</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Template Name
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Create" asp-action="Index" asp-route-id="@item.Template.TemplateId">
                        @Html.DisplayFor(modelItem => item.Template.TemplateName)
                    </a>
                </td>
                
            </tr>
        }
</table>

