
@ViewData["Message"]
<br />

<!--
<a asp-area="" asp-controller="Create" asp-action="Index" asp-route-id="@ViewBag.path">
-->
<a asp-area="" asp-controller="Create" asp-action="Index">
    Create Lab Environment
</a>
<!--
    <h1>@ViewBag.path</h1>
-->
